/*
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,700;1,700&display=swap" rel="stylesheet">
*/

@import "https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,300;0,400;0,700;1,700&display=swap";

html {
	overflow-y: auto;
}

body {
	color: #2E1E3D;
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-size: 18px;
	line-height: 28px;
	margin: 0;
	height: 100%;
	overflow: hidden;
}

a {
	color: #A62689;
}

a:hover {
	text-decoration: underline;
}

a:visited {
}

h1 {
	font-size: 64px;
	line-height: 69px;
	font-style: italic;
	font-weight: 400;
	letter-spacing: .02em;
}

h2 {
	font-size: 30px;
	line-height: 40px;
	color: #A62689;
}

h3 {
	font-size: 30px;
	line-height: 40px;
}

h4 {
	font-size: 16px;
	line-height: 20px;
}

h5 {
	font-size: 33px;
	line-height: 38px;

}

h6 {
	font-size: 30px;
	line-height: 40px;
	color: #A62689;
}

.source-logo {
	max-height:20px;
}

@media (max-width: 768px) {
	h1 {
		font-size: 60px;
		line-height: 65px;
	}

	h2 {
		font-size: 26px;
		line-height: 36px;
	}

	h3 {
		font-size: 26px;
		line-height: 36px;
	}

	h4 {
		font-size: 16px;
		line-height: 20px;
	}

	h5 {
		font-size: 2px;
		line-height: 34px;

	}

	h6 {
		font-size: 26px;
		line-height: 36px;
	}

	.odd-person-container main {
		width: 100%;
	}

}

.loading {
	background: url("/images/loading.svg") no-repeat;
	width: 32px;
	height: 32px;
	margin: 0 auto;
}

.tilerow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.oddk-tile {
	max-width: 250px;
}

.contents {
	margin: 0 40px;
}

.odd-search-form {
	text-align: center;
}

::placeholder {
	color: #BCBCBC;
}

.odd-search-form input[type="text"] {
	background: #F5F5F5 0% 0% no-repeat padding-box;
	border: 0px none;
	border-radius: 24px;
	color: #000000;
	opacity: 1;
	text-align: left;
	/*font: normal normal 300 14px/18px IBM Plex Sans Condensed;*/
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0px;
	width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.odd-search-form input[type="submit"] {
	border: 0px none;
}

.odd-search-result {
	margin: 20px auto;
	cursor: pointer;
}

.odd-search-result .oddk-tile {
	margin: 0 auto;
	height: 100%;
	width: 250px;
}

.odd-bar {
	margin: 20px auto;
	border: 2px solid #000;
	height: 100px;
	width: 0;
}

.odd-year {
	margin: 20px auto;
	text-align: center;
	/*font: normal normal bold 34px/46px Avenir Next;*/
	font-size: 34px;
	line-height: 46px;
	font-weight: bold;
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}

.tilerow-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.tilerow-grid .odd-search-result {
	margin: 40px 10px;
}

.odd-header {
	font-size: 34px;
	line-height: 46px;
	text-align: center;
}

.odd-explanation {
	width: 60%;
	margin: 0 auto;
}

.sidn_fonds_logo {
	width: 40%;
	align: right;
}

.odd-person-container {
	display: flex;
	flex-direction: row;
}

.odd-person-container main {
	width: 80%;
}
